<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
	This web app is in the early development phase.  It is designed to record daily behavior data about student, primarily in a special education setting.  We are currently in a closed alpha testing phase, but you are welcome to sign up to our mailing list if you would like <a href="signup">more information.</a>
</p>
	