<% provide(:title, @student.name) %>
<div class="row">
	<aside class="span3">
		<section>
			<h1 class="students">
				<%= @student.name %>
			</h1>
			<h2 class="students">
				<%= @student.student_id  %>
			</h2>
		</section>
		<% if current_user?(@user) %>
			<% current_student %>
			<p><%= link_to "Record student behavior", new_behavior_path %></p>
		<% end %>
		<section>
			
		</section>
	</aside>
	<div id="show_div" class="span9">
		<%= render "show_graph" %>
		
	</div>
</div>