
<div class="row">
	<div class="span12">
		<%= form_for(@behavior, html: {class: "form", role: "form"}) do |f| %>
			<%= render 'today_checkboxes', f: f %>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>
	</div>
</div>
