<% provide(:title, "Edit behavior") %>
<h1>Update this behavior</h1>

<div class="row">
	<div class="span6 offset3">
		<%= form_for(@behavior) do |f| %>
			<%= render 'fields', f: f %>
			<%= f.submit "Save changes", class: "btn btn-large btn-primary" %>
		<% end %>

		
	</div>
</div>