<footer class="footer">
	<small>
		<a href="#">Behavior App alpha</a>
		by Kadon Hodson
	</small>
	<nav>
		<ul>
			<li><%= link_to "About",   about_path %></li>
			<li><%= link_to "Contact", contact_path %></li>
			
		</ul>
	</nav>
</footer>
